

NET "clk100" IOSTANDARD = LVCMOS33;


NET "clk100" LOC = K3;


NET "TX0_TMDS[3]" IOSTANDARD = TMDS_33;
NET "TX0_TMDS[2]" IOSTANDARD = TMDS_33;
NET "TX0_TMDS[1]" IOSTANDARD = TMDS_33;
NET "TX0_TMDS[0]" IOSTANDARD = TMDS_33;
NET "RX0_TMDS[2]" IOSTANDARD = TMDS_33;
NET "RX0_TMDS[1]" IOSTANDARD = TMDS_33;
NET "RX0_TMDS[0]" IOSTANDARD = TMDS_33;


NET "TX0_TMDS[3]" LOC = B14;
NET "TX0_TMDS[2]" LOC = C11;
NET "TX0_TMDS[1]" LOC = B12;
NET "TX0_TMDS[0]" LOC = C13;
NET "RX0_TMDS[3]" LOC = C9;
NET "RX0_TMDS[2]" LOC = B5;
NET "RX0_TMDS[1]" LOC = B6;
NET "RX0_TMDS[0]" LOC = C7;

CONFIG VCCAUX  = 3.3;
NET "DDC_SCL" CLOCK_DEDICATED_ROUTE = FALSE;


NET "DDC_SCL" IOSTANDARD = I2C;
NET "DDC_SDA" IOSTANDARD = I2C;


NET "DDC_SCL" LOC = C1;
NET "DDC_SDA" LOC = B1;


NET "TX0_TMDS[3]" PULLUP;
NET "TX0_TMDS[2]" PULLUP;
NET "TX0_TMDS[1]" PULLUP;
NET "TX0_TMDS[0]" PULLUP;


NET "LED[7]" IOSTANDARD = LVCMOS33;
NET "LED[6]" IOSTANDARD = LVCMOS33;
NET "LED[5]" IOSTANDARD = LVCMOS33;
NET "LED[4]" IOSTANDARD = LVCMOS33;
NET "LED[3]" IOSTANDARD = LVCMOS33;
NET "LED[2]" IOSTANDARD = LVCMOS33;
NET "LED[1]" IOSTANDARD = LVCMOS33;
NET "LED[0]" IOSTANDARD = LVCMOS33;


NET "LED[7]" LOC = P7;
NET "LED[6]" LOC = P8;
NET "LED[5]" LOC = N8;
NET "LED[4]" LOC = T8;
NET "LED[3]" LOC = P9;
NET "LED[2]" LOC = M9;
NET "LED[1]" LOC = N9;
NET "LED[0]" LOC = P11;


NET "MSW" LOC = L5;


NET "MSW" IOSTANDARD = LVCMOS25;
NET "MSW" PULLUP;

# PlanAhead Generated physical constraints 

NET "test_pin[1]" LOC = G1;
NET "test_pin[0]" LOC = H1;
