

NET "SYS_CLK" LOC = K3;


NET "SYS_CLK" IOSTANDARD = LVCMOS33;


NET "TMDS[2]" LOC = C11;
NET "TMDS[1]" LOC = B12;
NET "TMDS[0]" LOC = C13;
NET "TMDS[3]" LOC = B14;


NET "TMDS[3]" PULLUP;
NET "TMDS[2]" PULLUP;
NET "TMDS[1]" PULLUP;
NET "TMDS[0]" PULLUP;


NET "TMDS[3]" IOSTANDARD = TMDS_33;
NET "TMDS[2]" IOSTANDARD = TMDS_33;
NET "TMDS[1]" IOSTANDARD = TMDS_33;
NET "TMDS[0]" IOSTANDARD = TMDS_33;


NET "LED[0]" LOC = P11;
NET "LED[1]" LOC = N9;
NET "LED[2]" LOC = M9;
NET "LED[3]" LOC = P9;


NET "LED[3]" IOSTANDARD = LVCMOS33;
NET "LED[2]" IOSTANDARD = LVCMOS33;
NET "LED[1]" IOSTANDARD = LVCMOS33;
NET "LED[0]" IOSTANDARD = LVCMOS33;


NET "DEBUG[0]" LOC = T8;
NET "DEBUG[1]" LOC = N8;


NET "DEBUG[0]" IOSTANDARD = LVCMOS33;
NET "DEBUG[1]" IOSTANDARD = LVCMOS33;

#NET "SYS_CLK" CLOCK_DEDICATED_ROUTE = FALSE;
#NET "TMDS[3]" CLOCK_DEDICATED_ROUTE = FALSE;
